<div class = "container">
<div class = "txt">
<h1>Order</h1>
<h3>Name:</h3>
 <p><%= @order.name%></p>

<h5>Address:</h5>
<%= @order.address%>

<h5>Quantity:</h5>
<%= @order.quantity%>

<h5>Size:</h5>
<%= @order.size%>
</div>

</div>
