<div class = "container home">
 <p>From luxury leather to chic high heels, gladiator sandals, women's trainers and statement flats, you'll step out in style with our unrivalled collection of women's shoes and boots.</p>
</div>