<!DOCTYPE html>
<html>
<head>
  <title>Shoos</title>
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One|Great+Vibes' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<header>
 <h2>Shoos</h2>
  <nav>
    <ul>
      <li><a href = "/shoes">Home<a></li>
      <li><a href = "/shoes/new">New Order<a></li>
      <li><a href = "/shoes/orders">Standing Orders</a></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>