<div class = "container new">

<form action = "/shoes" method = "post">

<label for = "name">Name:</label><br>
<input type = "text" name = "name"></input><br>

<label for = "address">Address:</label><br>
<input type = "text" name = "address"></input><br>

<label for = "quantity">Quantity:</label><br>
<input type = "text" name = "quantity"></input><br>

<label for = "size">Size:</label><br>
<select name = "size">
 <option value = "7">7</option>
 <option value = "8">8</option>
 <option value = "9">9</option>
 <option value = "10">10</option>
 <option value = "11">11</option>
</select><br><br>

<input  type = "submit" id = "button" value = "Order"></input>

</form>

</div>